---
---

@import "{{ site.theme }}";

.container {
    max-width: 700px !important;
}

.no-decoration {
    text-decoration: none;
}

footer {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-top: 1px dashed #b5e853;
    padding: 20px 0;
    margin-top: 40px;
    display: inline-block;
}

.license {
    margin-top: 10px;
    font-size: 14px;
}
